*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer"
    ;
    grid-template-rows: 100px auto 300px;
    height: 2000px;
    background-color: lightgray;
  
}
div{
    border: 1px solid red;
}

#header{
    grid-area: header;
}
#content{
    grid-area: content;
    display: grid;
    grid-template-rows: 3fr 8fr;

}
.article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 3fr 2fr;
    grid-gap: 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
}
#footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
}
.copyright{
    grid-column: 1/-1;
    text-align: center;
}

.article > div:nth-child(1){
    grid-column: 1/span 2;
}
.article > div:last-child{
    grid-column-start: 4;
    grid-column-end:2;
}
.article > div{
    border: none;
    background-color: whitesmoke;
}

#header{
    background: url(../img/resim/logo.png) no-repeat 10vw center;
    background-size: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#header > a {
    color: gray;
    margin: 0.3rem;
}

#header > ul {
    display: flex;
    flex-direction: row;
    margin: 0px 10vw;
    list-style: none;
}
#header > ul li a  {
    margin: 0px .2rem;
    text-decoration: none;
    background-color: brown;
    font-weight: bolder;
    color: white;
    padding: 0.5rem;
    border-radius: .5rem;
    text-align: center;
}
