*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 150px 300px 100px;
    height: 100vh;
    background-color: brown;
    grid-template-areas: 
    "navbar navbar navbar navbar"
    "header header header header"
    "main main main main"
    "footer footer footer footer"
    ;
}

.navbar{
    grid-area:navbar ;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    display: flex;
    margin-left: 1rem;
}

.navbar-ul{
    display: flex;  
    list-style: none;
    margin-right: 1rem;
}




.header{
    grid-area: header;
    background-color: chocolate;
}
.main{
grid-area: main;
background-color: darkgray;
}
.footer {
grid-area: footer;
background-color: darkslategrey;
}