*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

#container{
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer"
    ;
    grid-template-rows: 100px auto 300px;
    height: 2000px;
    background-color: lightgray;
  
}
div{
    border: 1px solid red;
}

#header{
    grid-area: header;
}
#content{
    grid-area: content;
    display: grid;
    grid-template-rows: 3fr 8fr;

}
.article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 3fr 2fr;
    grid-gap: 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
}
#footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
}
.copyright{
    grid-column: 1/-1;
    text-align: center;
}

.article > div:nth-child(1){
    grid-column: 1/span 2;
}
.article > div:last-child{
    grid-column-start: 4;
    grid-column-end:2;
}
.article > div{
    border: none;
    background-color: whitesmoke;
}

#header{
    background: url(../img/resim/logo.png) no-repeat 10vw center, white;
    background-size: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 99;

}

#header > a {
    color: gray;
    margin: 0.3rem;
}
#header > a i:hover{
background-color: lightgray;
border-radius: .5rem;
padding: .5rem;
}

#header > ul {
    display: flex;
    flex-direction: row;
    margin: 0px 10vw;
    list-style: none;
}
#header > ul li a  {
    margin: 0px 0.01rem;
    text-decoration: none;
    background-color: rgb(252, 248, 248);
    font-weight: bolder;
    color: rgb(55, 17, 17);
    padding: 0.5rem;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}
#header > ul li a.anasayfa{
background-color: rgb(205, 25, 25);
}
#header > ul li a.anasayfa:hover{
    background-color: lightgray;
    color: white;
}
#header > ul li a.hakkında:hover{
    background-color: lightgray;
}

.intro{
    display: flex;
    flex-direction: row;
    position: relative;
}
.content-intro{
    flex: 0 0 30%;
    background: none;
    margin-left: 10vw;
    margin-top: 5rem;
    z-index: 98;
    border: none;
    font-weight: bolder;

}

.intro::before{
content: ' ';
position: absolute;
top: 0;
left: 0;
background: url(../img/resim/featured.jpg) no-repeat center center/cover;
width: 100%;
height: 100%;
opacity: .8;
}

.content-intro h5{
    font-family: 'Kanit', sans-serif;
    font-size: .7rem;
    text-align: center;
    border-radius: 5rem;
    width: 3rem;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    background-color: orange;
}

.content-intro h3{
    font-family: 'Mukta', sans-serif;
    margin-bottom: 1rem;
    color: white;
    font-weight: bolder;

}
.content-intro p{
    font-family: 'Mukta', sans-serif;
    margin-bottom: 1rem;
    color: white;
}
.content-intro a.btn{
    display: block;
    text-decoration: none;
    color: white;
    padding: .4rem;

    width: 30%;
   background-color: rgb(227, 13, 13);
 
   
}

