*{
    box-sizing: border-box;
}

.container{
    display: grid;
    gap: 5px;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
    grid-auto-rows: 100px;
    

}



















.bir{
background-color: aquamarine;
}
.iki{
    background-color: rgb(58, 131, 127);
}
.üc{
    background-color: rgb(38, 70, 158);
}
.dört{
    background-color: rgb(120, 29, 40);
}
.bes{
    background-color: rgb(132, 89, 61);
}
.altı{
    background-color: rgb(201, 206, 55);
}
.yedi{
    background-color: rgb(148, 17, 171);
}
.sekiz{
    background-color: rgb(73, 13, 126);
}
.dokuz{
    background-color: rgb(18, 8, 132);
}
.on{
    background-color: rgb(243, 15, 30);
}
.onbir{
    background-color: rgb(118, 185, 97);
}
.oniki{
    background-color: rgb(141, 128, 11);
}