*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
    font-size: 16px;
}

.container{
    margin-top: 2rem;
    background-color: rgb(249, 251, 250);
    width: 30%;
    margin-left: 22rem;
    border: 1px solid black;
    padding: 2rem;
    position: relative;
    height: 100vh;
    
    
}
.item-1{
    background-color: chocolate;
    padding: 2rem;
    width: 50%;
    
}
.item-2{
    background-color: chartreuse;
    padding: 2rem;
    width: 50%;

   
}
.item-3{
    background-color: rgb(98, 85, 223);
    padding: 2rem;
    width: 50%;
}
